:root {
  --primary: #000000; /* Orange color */
  --secondary: #CAF0F8; /* White color */
}

body {
  background-color: var(--secondary); /* White background */
  color: #ffffff; /* Black text color */
  font-family: Arial, sans-serif; /* Optional: Change the font family */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.head {
  font-size: 3rem;
  font-family: "Luckiest Guy", cursive;
  color: #03045E;
  text-align: center;
}

.content {
  font-size: 1rem;
  margin-top: 20px;
  font-weight: bolder;
  text-align: center;
}

.card {
  width: 100%;
  background-color: white;
  color: var(--primary);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.form-container {
  border-radius: 20px;
  width: 100%;
  background-color: white;
  padding: 20px;
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid #03045E;
  padding: 8px;
}

.form-field:focus {
  outline: none;
}

.form-submit {
  font-weight: bold;
  margin-top: 20px;
  color: white;
  background-color: #00B4D8;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
}

.form-submit:hover {
  color: #03045E;
  background-color: transparent;
  border: 3px solid #03045E;
}

@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .left {
    width: 50%;
    padding: 20px;
  }

  .right {
    width: 50%;
    padding: 20px;
  }

  .head {
    font-size: 5rem;
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
  }
}
