.trainer-assessment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainer-assessment-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bolder;
  color: #03045e;
  font-family: "Luckiest Guy", cursive;

  top: 10%;
  left: 15%;
}

.trainer-assessment-textfield {
  width: 80%;
  margin-bottom: 20px;
}

.trainer-question-box {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
}

.trainer-question-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  width: 90%;
}

.trainer-option-textfield {
  width: 90%;
  margin-bottom: 10px;
}

.trainer-add-question-btn {
  margin-bottom: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.trainer-add-question-btn:hover {
  background-color: #0056b3;
}

.trainer-save-assessment-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.trainer-save-assessment-btn:hover {
  background-color: #218838;
}
