/* Mobile responsive styles */
@media only screen and (max-width: 768px) {
  
    .trainer-head {
        font-size: 2rem;
        font-family: "Luckiest Guy", cursive;
        color: #03045E;
        position: absolute;
        top: 1%;
        left: 18%;

      }
.trainer-head-2{
    font-size: 2rem;
       font-weight: bolder;
        color: #03045E;
        position: absolute;
        font-family: "Luckiest Guy", cursive;

        top: 10%;
        left: 15%;
}

.trainer-assessment-card {

    width: 200px;
    height:350px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    padding-top: 0;
    border: 2px solid #008bf8;
    transition: 0.5s ease-out;
    overflow:hidden;
    margin: 20px;
    color: #03045E;

   }
   
   .trainer-assessment-card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
    overflow: hidden;
   }
   
   .trainer-assessment-card-button1 {
    transform: translate(-50%, 125%);
    width: 40%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 20%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    text-decoration: none;

   }
   .trainer-assessment-card-button2 {
    transform: translate(-50%, 125%);
    width: 40%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    right: -30%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    text-decoration: none;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .trainer-assessment-card:hover {
    border-color: #008bf8;
    box-shadow: 0 40px 180px 0 rgb(48, 58, 169);
   }
   
   .trainer-assessment-card:hover  .assessment-card-button1, .assessment-card:hover  .assessment-card-button2 {
    transform: translate(-50%, 50%);
    opacity: 1;
   }


   .assessment-card-buttons{
    display: flex;

   }
.trainer-dashboard-assessments{
    position: absolute;
    top: 30%;
    left: 18%;
}
  

.create-assessment-btn {
  position: fixed; /* Change to 'absolute' if you want it relative to a parent container */
  top: 20px; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  font-weight: bold;
  color: white;
  background-color: #00B4D8; /* Orange submit button color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
}

.create-assessment-btn:hover {
  color: #03045E;
  background-color: transparent; /* Darker orange on hover */
  border: 3px solid #03045E;
}

}

.trainer-head {
    font-size: 2rem;
    font-family: "Luckiest Guy", cursive;
    color: #03045E;
    position: absolute;
    top: 1%;
    left: 18%;

  }
.trainer-head-2{
font-size: 2rem;
   font-weight: bolder;
    color: #03045E;
    position: absolute;
    font-family: "Luckiest Guy", cursive;

    top: 10%;
    left: 15%;
}

.trainer-assessment-card {

width: 200px;
height:350px;
border-radius: 20px;
background: #f5f5f5;
position: relative;
padding: 1.8rem;
padding-top: 0;
border: 2px solid #008bf8;
transition: 0.5s ease-out;
overflow:hidden;
margin: 20px;
color: #03045E;

}

.trainer-assessment-card-details {
color: black;
height: 100%;
gap: .5em;
display: grid;
place-content: center;
overflow: hidden;
}

.trainer-assessment-card-button1 {
transform: translate(-50%, 125%);
width: 40%;
border-radius: 1rem;
border: none;
background-color: #008bf8;
color: #fff;
font-size: 1rem;
padding: .5rem 1rem;
position: absolute;
left: 20%;
bottom: 0;
opacity: 0;
transition: 0.3s ease-out;
text-decoration: none;

}
.trainer-assessment-card-button2 {
transform: translate(-50%, 125%);
width: 40%;
border-radius: 1rem;
border: none;
background-color: #008bf8;
color: #fff;
font-size: 1rem;
padding: .5rem 1rem;
position: absolute;
right: -30%;
bottom: 0;
opacity: 0;
transition: 0.3s ease-out;
text-decoration: none;
}

.text-body {
color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
font-size: 1.5em;
font-weight: bold;
}

/*Hover*/
.trainer-assessment-card:hover {
border-color: #008bf8;
box-shadow: 0 40px 180px 0 rgb(48, 58, 169);
}

.trainer-assessment-card:hover  .assessment-card-button1, .assessment-card:hover  .assessment-card-button2 {
transform: translate(-50%, 50%);
opacity: 1;
}


.assessment-card-buttons{
display: flex;

}
.trainer-dashboard-assessments{
position: absolute;
top: 30%;
left: 18%;
}


.create-assessment-btn {
position: relative;
font-weight: bold;
margin-bottom: 20px;
color: white;
background-color: #00B4D8; /* Orange submit button color */
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 25px;
}

.create-assessment-btn:hover {
color: #03045E;
background-color: transparent; /* Darker orange on hover */
border: 3px solid #03045E;
}
