/* Common styles for both mobile and web */
.assessment-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: var(--primary);
    background-color: var(--secondary);
}

.assessment-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.question-container {
    margin-bottom: 20px;
}

.question-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.options-list {
    list-style-type: none;
    padding-left: 0;
}

.option {
    margin-bottom: 10px;
}

.submit-button {
    font-weight: bold;
    color: var(--primary);
    background-color: #00b4d8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.25s, border 0.25s, color 0.25s;
}

.submit-button:hover {
    color: #03045e;
    background-color: transparent;
    border: 3px solid #03045e;
}

/* Mobile responsive styles */
@media only screen and (max-width: 768px) {
    .assessment-container {
        padding: 10px;
    }

    .assessment-title {
        
 
            font-size: 2rem;
            font-family: "Luckiest Guy", cursive;
            color: #03045E;
            top: 1%;
            left: 18%;
        
         
          }

    .question-text {
        font-size: 1rem;
    }

    .option {
        font-size: 1rem;
    }
    .question-container {
        border: 2px solid #8093c8;
        border-radius: 20px;
        padding: 20px;
    }

    .submit-button {
        padding: 8px 16px;
    }
}

/* Web specific styles */
@media only screen and (min-width: 769px) {
    .assessment-container {
        width: 50%;
        margin: 0 auto;
    }

    .question-container {
        border: 2px solid #adc2fe;
        border-radius: 20px;
        padding: 20px;
    }

    .submit-button {
        margin-top: 20px;
    }
}
